<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update person</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})/edit}" th:object="${person}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>
<script>
  $.ajax({
    url: "/ajax",
    success: function( result ) {
      alert(result);
    }
  });
</script>
</body>
</html>