<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a>
    <input type="submit" value="Delete" onclick="deletePerson(${person.getId()})"/>

<br/>
</div>
<hr/>
<a href="/people/new">Create new person</a>

<script>
    function deletePerson(id){
        $.ajax({
            url: "/people/"+id,
            success: function( result ) {
                $("#rrr").text(result);
            }
        });
        return false;
    }
</script>
</body>
</html>