<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<div th:switch="${people}">
    <h2 th:case="null">No people found!</h2>
    <div th:case="*">
        <h2>People</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${people}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td><a th:href="@{person-update/{id}(id=${person.id})}">Edit</a></td>
                <td><a th:href="@{person-delete/{id}(id=${person.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/person-create">Create person</a></p>
</div>
</body>
</html>