<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update task</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/task/{id}(id=${task.id})}" th:object="${task}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="createAt">Enter date-time of the task: </label>
        <input type="datetime-local" th:field="*{createAt}" id="createAt"/>
        <br/>
        <label for="description">Enter description: </label>
        <input type="text" th:field="*{description}" id="description"/>
        <br/>
        <input type="submit" value="Submit new data"/>
    </form>
</body>
</html>