* {
  font-size: 24px;
}

body {
  background-image: url(/lukiyanova/lab2/images/elka.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.valid {
  color: green;
  display: none;
}

.invalid {
  color: red;
  display: none;
}
 
