<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>
<div id="context">                                                                        /* контекст главной страницы*/
    <div th:each="person : ${people}" th:id="@{person{id}(id=${person.getId()})}">
        <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a>
        <input type="submit" value="Delete" th:onclick="@{func({id})(id=${person.getId()})}"/>
    </div>
</div>
<br/>
<hr/>
<a href="/people/new">Create new person</a>
<form th:method="POST" th:action="@{/people}" th:object="${person}" onsubmit="return create()"> /* Форма главной страницы. Обращение к метобу  POST*/
    <label for="name">Enter name: </label>       /* вывод имен*/
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <input type="submit" value="Create!"/>        /* создание новых*/
</form>
<script>
    function func(id) {
        $.ajax({
            url: "/ajax/" + id,                           /* Куда пойдет запрос */
            success: function (result) {                  /* Функция, которая будет выполнена после успешного запроса*/
                $("#person" + id).remove();               /* Удаляем выбранного человека*/
            }
        });
        return false;
    }

    function create() {
        $.ajax({
            url: "/create/" + $("#name").val(),             /* Куда пойдет запрос */
            success: function (result_id) {                 /* Функция, которая будет выполнена после успешного запроса*/
                $("#context").append("                      /* Обращение к старнице, которая выводит имена людей, и дает возможносмть добавления/удаления новых*/
                <div id=\"person" + result_id + "\">\n" +
                    "<a href=\"/people/" + result_id + "\">" + $("#name").val() + "</a>\n" +
                    "<input type=\"submit\" value=\"Delete\" onClick=\"func(" + result_id + ")\"/>\n" +
                    "</div>
                    ");
                $("#name").val("");                          /* Добавляем имя нового человека*/
            }
        });
        return false;
    }
</script>
</body>
</html>